@using Finote_Web.ViewModels
@model ChartViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}
<main>
    <div class="page-header">
        <h1>@Model.PageTitle</h1>
        <p>@Model.PageSubTitle</p>
    </div>
    <div class="content-card">
        <div class="chart-placeholder full-height">
            <i class="@Model.ChartIcon"></i>
            <p>@Model.ChartTitle</p>
        </div>
    </div>
</main>